<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxYd8fFeId8Bg9OUrNg-yMxJUB7w288ho</string>
	<key>GCM_SENDER_ID</key>
	<string>772875821448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wellsystemsdev.laranjaldojari</string>
	<key>PROJECT_ID</key>
	<string>laranjal-jari</string>
	<key>STORAGE_BUCKET</key>
	<string>laranjal-jari.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772875821448:ios:2457808a4219c69a959a3d</string>
</dict>
</plist>